:root {
    --bg: #CED6F0;
    font-family: "Astonpoliz";
}

@font-face {
    font-family: 'Astonpoliz';
    src: url("./../font/Astonpoliz.otf");
}

@font-face {
    font-family: 'Redrose';
    src: url("./../font/RedRose-Light.ttf");
}

#bg-body {
    background-color: var(--bg);
    margin: 50px 40px;
}

.main {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 100px;
    margin: 100px 50px;
}

.main #srv {
    padding-top: 70px;
    color: #3F66E1;
    font-weight: 700;
    font-size: 15px;
}

.main h1 {
    color: #13255B;
    font-weight: bold;
}

.main h2 {
    color: #727272;
    font-size: 12px;
}

.icons-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 35px;
    margin-top: 40px;
    padding: 30px;
}

.icons {
    width: 35px;
    padding-left: 15px;
}

.icon-solo {
    display: flex;
    flex-direction: column;
}

.icon-solo h3 {
    color: #00002A;
    text-align: left;
    padding-left: 15px;
}

.desc-icon {
    font-family: "Redrose";
    text-align: left;
    color: #717171;
    font-weight: 200;
    padding: 0px 15px;
}